{% extends "layout.html" %}

{% block title %}Help{% endblock %}

{% block main %}
<h1>Help</h1>
<div>
    <h2 id="quiz-taking"><a href="#quiz-taking">Taking a Quiz</a></h2>
    <p>
        To take a quiz, you can click the 'Take Quiz' button in the navigation bar (top left).
        Keep in mind that if you want to save your results, you will need to create an account first.
        The page will generate a random quiz of 5 questions. At the end of the quiz, you will get a report
        detailing your results, as well as an option to print them.
        <img src="/assets/images/help1.jpeg" class="help-img">
    </p>
</div>
<div>
    <h2 id="question-origin"><a href="#question-origin">Where are the question from?</a></h2>
    <p>
        Most of the questions can be found on FBLA's website, social media, and Wikipedia.
        Some may require more digging through!
    </p>
</div>
<div>
    <h2 id="why-create-account"><a href="#why-create-account">Why should I create an account?</a></h2>
    <p>
        Creating an account allows you to save your scores, get personalized quizzes, and get
        statistics on your quizzes. It will also allow you to prove that you took a quiz, as well
        as the score you got.
    </p>
</div>
<div>
    <h2 id="zen-mode"><a href="#zen-mode">What does Zen Mode do?</a></h2>
    <p>
        Zen mode is an option available during a quiz. It removes all distractions from the page,
        such as the navigation bar and footer. It also applies a calm blue background to the page.
        This may be helpful if you constantly find yourself distracted. To turn off Zen Mode, simply
        press the button again.
        <img src="/assets/images/help2.jpeg" class="help-img">
    </p>
</div>
<div>
    <h2 id="where-find-past-quizzes"><a href="#where-find-past-quizzes">Where can I see my past quizzes?</a></h2>
    <p>
        You must have an account to view your past quizzes. While logged in, click the 'My Quizzes'
        link in the navigation bar, and you will be able to see a summary of your quizzes. To view
        the results of a specific quiz, click the 'View' link next to the table entry.
        <img src="/assets/images/help3.jpeg" class="help-img">
    </p>
</div>
<div>
    <h2 id="how-strict-answers"><a href="#how-strict-answers">How strict are the answers?</a></h2>
    <p>
        The checker is very strict. For multiple-select type questions, you will not receive partial
        marks. For fill in the blank questions, your spelling and capitalization must match the
        answer(s) exactly. For example, if the accepted answers are 'Bill' and 'bill', then
        'Bill' would be accepted, but 'biLL' and 'bil' won't.
    </p>
</div>
{% endblock %}
