{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block premain %}
<div id="banner">
    <img srcset="/assets/images/home-768.jpg 768w,
                 /assets/images/home-1024.jpg 1024w,
                 /assets/images/home-1366.jpg 1366w,
                 /assets/images/home-1600.jpg 1600w,
                 /assets/images/home-1920.jpg 1920w"
         src="/assets/images/home-1600.jpg" style="height: calc(100vh - 56px);">
    <div id="banner-mask"></div>
    <div id="banner-heading">
        <h1 class="text-center">FBLAquiz</h1>
        <h3 class="text-center">The world's #1 FBLA quiz platform</h3>
        <p class="text-center" style="margin-top: 12px;">
            <a href="/register"
               class="btn btn-primary"
               role="button"
               style="position: relative; top: -2px;">Register an account</a> or
            <a href="/login" style="color: #000;">login</a>
        </p>
    </div>
</div>
{% endblock %}

{% block main %}
<div class="flex-desktop">
    <div style="flex: 1;">
        <img src="/assets/images/bolt.svg" onerror="this.src='/assets/images/bolt.png'" class="home-img bg-primary">
    </div>
    <div style="flex: 3; position: relative;">
        <div class="home-text">
            <h4 class="text-center">Fast and Lightweight</h4>
            <p>Get quiz results instantly after you submit. Fast and data-efficient, even on 3G connections.</p>
        </div>
    </div>
</div>
<div class="flex-desktop">
    <div class="mobile">
        <img src="/assets/images/user.svg" onerror="this.src='/assets/images/user.png'" class="home-img bg-primary">
    </div>
    <div style="flex: 3; position: relative;">
        <div class="home-text">
            <h4 class="text-center">Personalized</h4>
            <p>
                Get personalized tips to help you perform better. By
                <a href="/register">creating an account</a>, you can save quiz results,
                get access to detailed statistics, and get personalized training.
            </p>
        </div>
    </div>
    <div style="flex: 1;" class="desktop">
        <img src="/assets/images/user.svg" onerror="this.src='/assets/images/user.png'" class="home-img bg-primary">
    </div>
</div>
<div class="flex-desktop">
    <div style="flex: 1;">
        <img src="/assets/images/restrict.svg" onerror="this.src='/assets/images/restrict.png'" class="home-img bg-primary">
    </div>
    <div style="flex: 3; position: relative;">
        <div class="home-text">
            <h4 class="text-center">Private and Secure</h4>
            <p>
                We take data security very seriously. All data you send to us, including
                passwords and other form data are encrypted with industry-grade encryption.
                We also do not sell your data, and more information about how we handle user
                data is available in our <a href="/privacy">Privacy Policy</a>
            </p>
        </div>
    </div>
</div>
<div class="text-center" style="margin-top: 25px;">
    <a href="/register"
       class="btn btn-primary"
       role="button"
       style="position: relative; top: -2px;">Register an account</a> or
    <a href="/login" style="color: #000;">login</a>
</div>
{% endblock %}
