{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<h2>Welcome, {{ session.username }} :)</h2>
<div class="row">
    <div class="col-sm-6 admin-card">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Take a Quiz</h5>
                <p class="card-text">Ready to take a quiz?</p>
                <a class="btn btn-primary" href="/quiz" role="button">Take Quiz</a>
            </div>
        </div>
    </div>
    {% if most_difficult %}
    <div class="col-sm-6 admin-card">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Your Weakest Subject</h5>
                <p class="card-text">Your weakest subject is {{ most_difficult }}. Do you want to train it?</p>
                <a class="btn btn-primary" href="/quiz?type={{ most_difficult }}" role="button">Take a quiz on {{ most_difficult }}</a>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="col-sm-6 admin-card">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Past Quizzes</h5>
                <p class="card-text">View your past quizzes. Maybe study the questions you got wrong?</p>
                <a class="btn btn-primary" href="/submissions" role="button">My Quizzes</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
