{% extends "layout.html" %}

{% block title %}Quiz{% endblock %}

{% block main %}
<h1>FBLA Quiz</h1>
<form method="post" action="/quiz/submit" autocomplete="off">
    {% for question in questions %}
        <div class="mb-3">
            <h3>{{ question["description"] }}</h3>
            {% if question["type"] == "MC" %}
                {% for letter in "abcd" %}
                    <div class="mb-2">
                        <input
                            type="radio"
                            id="{{ question['id'] }}_{{ letter }}"
                            name="{{ question['id'] }}"
                            value="{{ question['id'] }}_{{ letter }}"
                            class="form-check-input"
                            required>
                        <label for="{{ question['id'] }}_{{ letter }}">{{ question[letter] }}</label>
                    </div>
                {% endfor %}
            {% elif question["type"] == "TF" %}
                {% for letter in "ab" %}
                    <div class="mb-2">
                        <input
                            type="radio"
                            id="{{ question['id'] }}_{{ letter }}"
                            name="{{ question['id'] }}"
                            value="{{ question['id'] }}_{{ letter }}"
                            class="form-check-input"
                            required>
                        <label for="{{ question['id'] }}_{{ letter }}">{{ question[letter] }}</label>
                    </div>
                {% endfor %}
            {% elif question["type"] == "Blank" %}
                    <input
                        name="{{ question['id'] }}_blank"
                        placeholder="Fill in the Blank"
                        class="form-control"
                        required>
            {% elif question["type"] == "Select" %}
                {% for letter in "abcd" %}
                    <div class="mb-2">
                        <input
                            type="checkbox"
                            id="{{ question['id'] }}_{{ letter }}"
                            name="{{ question['id'] }}"
                            class="form-check-input"
                            value="{{ question['id'] }}_{{ letter }}">
                        <label for="{{ question['id'] }}_{{ letter }}">{{ question[letter] }}</label>
                    </div>
                {% endfor %}
                <input
                    type="checkbox"
                    name="{{ question['id'] }}"
                    value="{{ question['id'] }}_e"
                    style="display: none;"
                    checked>
            {% elif question["type"] == "Drop" %}
                <select class="form-control form-select mb-3" name="{{ question['id'] }}">
                    {% for letter in "abcd" %}
                        <option value="{{ question['id'] }}_{{ letter }}">{{ question[letter] }}</option>
                    {% endfor %}
                </select>
            {% endif %}
        </div>
    {% endfor %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input class="btn btn-primary" type="submit" id="submit" name="submit" value="Submit">
</form>
{% endblock %}
