{% extends "layout.html" %}

{% block title %}Terms of Service{% endblock %}
{% block main %}
<h1>Terms of Service</h1>
<strong>This document describes the terms you agree to be bound by when you use this website.</strong>
<p>We don't like long and boring legal documents, so here is a simple English Terms of Service. We still advise you to read the full ToS, below.</p>
<ul>
	<li>You may use any questions in any quiz for educational purposes.</li>
	<li>FBLAquiz is provided with zero warranty.</li>
	<li>If use of FBLAquiz is illegal in your jurisdiction, don't use it.</li>
	<li>You are not allowed to abuse or misuse FBLAquiz.</li>
	<ul><li>This includes spamming requests, inappropriate usernames, and trying to attack the infrastructure.</li></ul>
	<li>We may change these Terms of Service at any time, without warning.</li>
</ul>
<hr>
<p>
	By accessing this website, you are agreeing to the Terms of Service and Privacy Policy. If you do not agree, you are prohibited by accessing & using this website.<br>
	These Terms of Service are governed by the laws of Canada, as well as the laws of Ontario, Canada.<br>
	The information and events on this website are provided on an as-is basis, and we are not responsible for any damages that may result from use of this website.<br>
	The resources appearing on FBLAquiz may contain errors. In such cases, we will try to correct errors when notified. We are not responsible for any damages caused from these errors.<br>
	We require you to provide accurate account information when registering.<br>
	You may not attack the website infrastructure or the website code.<br>
	We reserve the right to ban your account at any time for abuse, misuse, or any other reason, without warning.
</p>
{% endblock %}
