{% extends "layout.html" %}

{% block title %}Submissions{% endblock %}

{% block main %}
<h1>Submissions</h1>
<div id="pagination"></div>
<div class="flex-desktop">
    <div style="flex: 3; overflow: auto;">
        <table class="table table-hover table-full-width" style="min-width: 400px;">
            <thead class="table-dark">
                <tr>
                    <th scope="col" style="width: 15%;">ID</th>
                    <th scope="col" style="width: 25%;">Time</th>
                    <th scope="col" style="width: 28%;">Username</th>
                    <th scope="col" style="width: 18%;">Score</th>
                    <th scope="col" style="width: 14%;">View</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row["id"] }}</td>
                    <td class="dt">{{ row["date"] }}</td>
                    <td>{{ row["username"] }}</td>
                    <td>{{ row["score"] }}</td>
                    <td><a href="/quiz/results?id={{ row['id'] }}">View</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="flex: 1; margin-left: 8px;">
        <div class="card">
            <h3>Filter Submissions</h3>
            <form>
                <input class="form-control mb-3" type="text" id="username" name="username" placeholder="Filter by username">
                <select class="form-control form-select mb-3" id="score" name="score">
                    <option value="" selected hidden>Filter by score</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <input class="btn btn-primary" type="submit" value="Filter!">
            </form>
        </div>
    </div>
</div>
<script>
    var queryStrings = new URL(window.location.href).searchParams;
    if (queryStrings.get("username") != null) {
        $("form #username").attr("value", queryStrings.get("username"));
    }
    if (queryStrings.get("score") != null) {
        $("#score").val(queryStrings.get("score"));
    }
    var total_length = {{ length }};
</script>
{% endblock %}
