@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/****************** HOME PAGE ********************************/
#banner {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: calc(100vh - 56px);
}

#banner-mask {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#banner-heading {
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#banner-heading h1 {
    font-size: 7rem;
}

#banner-heading h3 {
    font-size: 2.5rem;
}

#banner-heading p, #banner-heading .btn {
    font-size: 1.5rem;
}

@media screen and (max-width: 1200px) {
    #banner-heading h1 {
        font-size: 5rem;
    }
    
    #banner-heading h3 {
        font-size: 1.75rem;
    }

    #banner-heading p, #banner-heading .btn {
        font-size: 1rem;
    }
}

@media screen and (max-width: 800px) {
    #banner-heading h1 {
        font-size: 3rem;
    }
    
    #banner-heading h3 {
        font-size: 1rem;
    }
}

.home-img {
    height: 200px;
    width: 200px;
    padding: 30px;
    border-radius: 30px;
    margin: 8px 12px;
}

@media screen and (min-width: 500px) {
    .home-text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 499px) {
    .home-img {
        display: block;
        margin: 8px auto;
    }
}

/****************** HELP PAGE LAYOUT *************************/
.help-img {
    max-width: 95vw;
    overflow-x: auto;
}

/****************** ADMIN PAGE LAYOUT ************************/
.admin-card {
    padding: calc(var(--bs-gutter-x)/ 2)
}

.create-blank {
    display: inline;
    width: calc(100% - 20px);
    margin-left: 2px;
}

/****************** QUIZ PAGES LAYOUT ************************/
.post-quiz-icon {
    width: 24px;
    margin-left: 12px;
    position: absolute;
    bottom: 1px;
}

.zen {
    background-color: #dceeff;
}

.print-button {
    padding: 0;
    border: 0;
    background-color: transparent;
    margin: 4px;
}

.post-quiz-icon.svg-red {
    bottom: -4px;
}

#quiz-form div.mb-2 {
    padding: 2px 0;
    border-radius: 13px;
    display: table;
    cursor: pointer;
}

#quiz-form div.mb-2 label {
    cursor: inherit;
    padding: 4px 10px 4px 6px;
}

#quiz-form div.mb-2 input {
    cursor: inherit;
    margin-left: 4px;
}

#quiz-form div.mb-2:hover {
    background-color: #e0e0e0;
}

/****************** MISC DISPLAY FIXES ***********************/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    scroll-behavior: smooth;
    overflow: overlay;
    font-family: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

main {
    flex-grow: 1;
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}

a, a.btn, nav a:hover, a.btn:hover {
    text-decoration: none;
}

.pagination a {
    text-decoration: none!important;
}

a:hover, a:focus {
    text-decoration: underline;
}

select.form-control, div.form-control {
    background-color: #fff!important;
}

.card {
    padding: 16px;
}

.flex {
    display: flex;
}

.icon {
    width: 16px;
}

table {
    table-layout: fixed;
}

td {
    word-break: break-word;
}

@media print {
    footer, nav, .print-button {
        display: none!important;
    }

    .container-md {
        padding-top: 1rem!important;
        padding-bottom: 0;
    }
}

.text-ellipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.a-ellipses {
    display: inline-block;
    width: -webkit-fill-available;
}

.pagination {
    overflow-x: auto;
}

.bg-primary {
    background-color: #006be8!important;
}

@media screen and (max-width: 700px) {
    .desktop {
        display: none;
    }
}

@media screen and (min-width: 701px) {
    .mobile {
        display: none;
    }

    .flex-desktop {
        display: flex;
    }

    .print-button {
        position: absolute;
        right: 0;
    }
}

label {
    display: inline;
}

.hidden {
    display: none!important;
}

/****************** COLOURS **********************************/
.white {
    color: #ffffff!important;
}

.black {
    color: #000000!important;
}

.red {
    color: #ff0000!important;
}

.green {
    color: #22d14e!important;
}

.svg-red {
    filter: invert(16%) sepia(100%) saturate(6752%) hue-rotate(1deg) brightness(99%) contrast(117%);
}

.svg-green {
    filter: invert(57%) sepia(58%) saturate(3606%) hue-rotate(83deg) brightness(118%) contrast(125%);
}

/****************** ANIMATIONS *******************************/
@keyframes fade-in {
    0%   {opacity: 0;}
    100% {opacity: 100%;}
}

main {
    animation-name: fade-in;
    animation-duration: 0.5s;
}

@media screen and (min-width: 1360px) {
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}