/****************** HOME PAGE ********************************/
#banner {
    width: 100%;
    position: relative;
    overflow: hidden;
    max-height: 576px;
}

#banner-mask {
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#banner-heading {
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    color: #040404;
}

#banner-heading h1 {
    font-size: 5rem;
}

@media screen and (max-width: 800px) {
    #banner-heading h1 {
        font-size: 3rem;
    }
    
    #banner-heading h3 {
        font-size: 1rem;
    }
}

.home-img {
    height: 200px;
    width: 200px;
    padding: 30px;
    border-radius: 30px;
    margin: 8px 12px;
}

@media screen and (min-width: 500px) {
    .home-text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 499px) {
    .home-img {
        display: block;
        margin: 8px auto;
    }
}

@media screen and (max-width: 458px) {
    #banner img {
        height: 200px;
        width: auto;
    }
}

/****************** SUBMISSIONS PAGE LAYOUT ******************/
@media screen and (min-width: 990px) {
    #submission-search-bottom {
        display: none;
    }
}

@media screen and (max-width: 989px) {
    #submission-search-right {
        display: none;
    }
}

/****************** MISC DISPLAY FIXES ***********************/
.card {
    padding: 16px;
}

.flex {
    display: flex;
}

.icon {
    width: 16px;
}

.post-quiz-icon {
    width: 24px;
    margin-left: 12px;
    position: absolute;
    bottom: 1px;
}

table {
    table-layout: fixed;
}

main {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}

td {
    word-break: break-word;
}

.print-button {
    padding: 0;
    border: 0;
    background-color: transparent;
    margin: 4px;
}

@media print {
    .print-button {
        display: none!important;
    }

    footer {
        display: none!important;
    }

    .container-md {
        padding-top: 1rem!important;
        padding-bottom: 0;
    }
}

.text-ellipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.a-ellipses {
    display: inline-block;
    width: -webkit-fill-available;
}

.pagination {
    overflow-x: auto;
}

.bg-primary {
    background-color: #006be8!important;
}

@media screen and (max-width: 499px) {
    .desktop {
        display: none;
    }
}

@media screen and (min-width: 500px) {
    .mobile {
        display: none;
    }

    .flex-desktop {
        display: flex;
    }

    .print-button {
        position: absolute;
        right: 0;
    }
}

label {
    display: inline;
}

/****************** ADMIN INTERFACE **************************/
.create-blank {
    display: inline;
    width: calc(100% - 20px);
    margin-left: 2px;
}

/****************** COLOURS **********************************/
.white {
    color: #ffffff!important;
}

.black {
    color: #000000!important;
}

.red {
    color: #ff0000!important;
}

.green {
    color: #22d14e!important;
}

.svg-red {
    filter: invert(16%) sepia(100%) saturate(6752%) hue-rotate(1deg) brightness(99%) contrast(117%);
}

.svg-green {
    filter: invert(57%) sepia(58%) saturate(3606%) hue-rotate(83deg) brightness(118%) contrast(125%);
}
