{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block main %}
<h1>Login</h1>
<form method="post">
    <input autocomplete="off" autofocus class="form-control mb-3" name="username" placeholder="Username" type="text" required>
    <input class="form-control mb-3" name="password" placeholder="Password" type="password" required>
    <button class="btn btn-primary" type="submit">Log In</button>
    <a href="/forgotpassword" class="btn btn-secondary white">Forgot Password</a>
    {% if use_google %}
        <a class="btn btn-outline-dark" href="/login/google" role="button" style="text-transform:none">
            <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in"
                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png">
            Log In with Google
        </a>
    {% endif %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% if request.args.get('next') %}
        <input type="hidden" name="next" value="{{ request.args.get('next') }}">
    {% endif %}
</form>
{% endblock %}
