{% extends "layout.html" %}

{% block title %}{{ data["description"] }}{% endblock %}

{% block main %}
<h1>{{ data["description"] }}</h1>
<div id="confirm" style="display: none;">
    <form method="post" style="margin-bottom: 1rem;" action="">
        <input class="btn btn-danger" type="submit" value="">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
</div>
<div class="flex">
    <div style="flex: 3; padding: 4px; word-break: break-word;">
        <div id="choices">
            {% if data['type'] == 'MC' or data['type'] == 'Drop' %}
                {% for letter in "abcd" %}
                    <div class="mb-2">
                        <input
                            type="radio"
                            id="{{ data['id'] }}_{{ letter }}"
                            {{ "checked" if data["correct"] == letter }} disabled>
                        <label for="{{ data['id'] }}_{{ letter }}">
                            {{ data[letter] }}
                        </label>
                    </div>
                {% endfor %}
            {% elif data['type'] == 'TF' %}
                {% for letter in "ab" %}
                    <div class="mb-2">
                        <input
                            type="radio"
                            id="{{ data['id'] }}_{{ letter }}"
                            {{ "checked" if data["correct"] == letter }} disabled>
                        <label for="{{ data['id'] }}_{{ letter }}">
                            {{ data[letter] }}
                        </label>
                    </div>
                {% endfor %}
            {% elif data['type'] == 'Blank' %}
                <p>Accepted answers:
                    {% for letter in "abcd" %}
                        {% if data[letter] is not none %}
                            {{ data[letter] }}&nbsp;
                        {% endif %}
                    {% endfor %}
                </p>
            {% elif data['type'] == 'Select' %}
                {% for letter in "abcd" %}
                    <div class="mb-2">
                        <input
                            type="checkbox"
                            id="{{ data['id'] }}_{{ letter }}"
                            {{ "checked" if letter in data["correct"] }} disabled>
                        <label for="{{ data['id'] }}_{{ letter }}">
                            {{ data[letter] }}
                        </label>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div id="stats" style="margin-top: 2rem;">
            <h5>Stats</h5>
            <p>Percentage solved: {{ sub_data['percentage'] }}<br>
            Total attempts: {{ sub_data['total_subs'] }}<br>
            Correct attempts: {{ sub_data['correct_subs'] }}</p>
        </div>
    </div>
    <div style="flex: 1; padding: 4px;">
        <p>
            <b>Category:</b> {{ data["category"] }}<br>
            <b>Difficulty:</b> {{ data["difficulty"] }}<br>
            <b>Type:</b> {{ data["type"] }}<br>
            <a href="{{ request.path }}/edit">Edit problem</a><br>
            <a href="#" onclick="deletemsg()">Delete problem</a>
            {% if data["draft"] %}
                <br><a href="#" onclick="publishmsg()">Publish draft</a>
            {% endif %}
        </p>
    </div>
</div>
<script>
    function deletemsg() {
        $("#confirm").css("display", "")
                     .find("form")
                     .attr("action", window.location.pathname + "/delete")
                     .find(".btn")
                     .attr("value", "Are you sure you want to delete this problem? Click here to confirm.");
    }
    function publishmsg() {
        $("#confirm").css("display", "")
                     .find("form")
                     .attr("action", window.location.pathname + "/publish")
                     .find(".btn")
                     .attr("value", "Are you sure you want to publish this problem? Click here to confirm.");
    }
</script>
{% endblock %}
