{% extends "layout.html" %}

{% block title %}Problems{% endblock %}

{% block main %}
<h1>Problems</h1>
<div id="pagination"></div>
<div style="overflow: auto;">
    <table class="table table-hover" style="min-width: 400px;">
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="width: 60%;">ID</th>
                <th scope="col" style="width: 20%;">Category</th>
                <th scope="col" style="width: 20%;">Difficulty</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td><a href="/problem/{{ row["id"] }}" class="text-ellipses a-ellipses">{{ row["description"] }}</a></td>
                <td>{{ row["category"] }}</td>
                <td>{{ row["difficulty"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    var total_length = {{ length }};
</script>
<script src="/assets/js/jquery.twbsPagination.min.js"></script>
<script src="/assets/js/pagination.js"></script>
{% endblock %}
