<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/css/style.css" rel="stylesheet">

        <link href="/static/favicon.ico" rel="icon">

        <title>Maintenance | FBLAquiz</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">FBLAquiz</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbar" aria-controls="navbarText"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav ms-auto dropstart">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="accessibilityDropdown"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false"
                               title="Accessibility Settings">
                                <img src="/assets/images/accessible.svg" class="icon svg-white">
                            </a>
                            <ul class="dropdown-menu"
                                id="accessibility-drop"
                                aria-labelledby="accessibilityDropdown">
                                <li class="dropdown-item accessibility-item" id="high-contrast">
                                    High Contrast Mode
                                    <div class="form-switch">
                                        <input class="form-check-input" type="checkbox">
                                    </div>
                                </li>
                                <li class="dropdown-item accessibility-item" id="magnifier">
                                    Magnifier
                                    <div class="form-switch">
                                        <input class="form-check-input" type="checkbox">
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li><a class="nav-link" href="/login">Log In</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/accessible.js"></script>
        <main class="container p-5">
            <h1>Under Maintenance</h1>
            We are currently undergoing scheduled maintenance. We will be back soon. Thank you for your patience.
        </main>
        <footer>
            <hr>
            <p class="text-center">&copy; Jonathan Wu, 2020-2021. Source code available <a href="https://github.com/jdabtieu/FBLA">here</a>.</p>
        </footer>

        <script src="/assets/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
