{% extends "layout.html" %}

{% block title %}Help{% endblock %}

{% block main %}
<h1>Help</h1>
<h2 id="quiz-taking">Taking a Quiz</h2>
<p>
	To take a quiz, you can click the 'Take Quiz' button in the navigation bar (top left).
	Keep in mind that if you want to save your results, you will need to create an account first.
	The page will generate a random quiz of 5 questions, and you can choose the difficulty, 
	types of questions, and categories ## TODO. At the end of the quiz, you will get a report
	detailing your results, as well asn an option to print them.
</p>
{% endblock %}
