{% extends "layout.html" %}

{% block title %}Help{% endblock %}

{% block main %}
<h1>Help</h1>
<div>
	<h2 id="quiz-taking"><a href="#quiz-taking">Taking a Quiz</a></h2>
	<p>
		To take a quiz, you can click the 'Take Quiz' button in the navigation bar (top left).
		Keep in mind that if you want to save your results, you will need to create an account first.
		The page will generate a random quiz of 5 questions. At the end of the quiz, you will get a report
		detailing your results, as well asn an option to print them.
	</p>
</div>
<div>
	<h2 id="question-origin"><a href="#question-origin">Where are the question from?</a></h2>
	<p>
		Most of the questions can be found on FBLA's website, social media, and Wikipedia.
	</p>
</div>
<div>
	<h2 id="why-create-account"><a href="#why-create-account">Why should I create an account?</a></h2>
	<p>
		Creating an account allows you to save your scores, get personalized quizzes, and get
		statistics on your quizzes. It will also allow you to prove that you took a quiz, as well
		as the score you got.
	</p>
</div>
{% endblock %}
