{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block premain %}
<div id="banner">
    <img src="/assets/images/home.jpg" style="width: 100%;">
    <div id="banner-heading">
        <h1 class="text-center">FBLAquiz</h1>
        <h3>The world's #1 FBLA quiz platform</h3>
    </div>
</div>
{% endblock %}

{% block main %}
<p>Welcome to FBLAquiz, the leading FBLA quiz platform! To test your knowledge, simply click 'Take Quiz'
above! If you would like to save your results for the future, get detailed statistics, and a
personalized training plan, you should <a href="/register">create an account for free.</a><br><br>
Happy quiz-taking!</p>
{% endblock %}
