{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<h1>FBLAquiz</h1>
<pre>
Have at least 50 questions in the database with the ability to see correct answers 
DONE - Include at least 4 types of questions (i.e. multiple choice, T/F, fill-in-the-blank, matching, and dropdown, etc.). 
DONE - Inform the user which questions were correctly answered 
DONE - Calculate the total correct on the five-question quiz 
DONE - Generate a printable report on quiz results 
DONE - Data must be stored persistently. Storage may be in a relational database, a document-oriented NoSQL database, flat text files, flat JSON, or XML files. 
DONE - All data entry must be validated with appropriate user notifications and error messages including the use of required fields.
</pre>
<p>Welcome to FBLAquiz, the leading FBLA quiz platform! To test your knowledge, simply click 'Take Quiz'
above! If you would like to save your results for the future, get detailed statistics, and a
personalized training plan, you should <a href="/register">create an account.</a><br><br>
Happy quiz-taking!</p>
{% endblock %}
