{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<h1>FBLAquiz</h1>
<h4>Welcome, {{ session.username }}</h4>
<p>
	Welcome to FBLAquiz, the leading FBLA quiz platform! To test your knowledge, simply click 'Take Quiz' above!<br>
	If you need help, you may find solutions in the <a href="/help">Help</a> section.<br><br>
	Happy quiz-taking!<br><br>
	{% if most_difficult %}
		Your least familar subject is {{ most_difficult }}. <a href="/quiz?type={{ most_difficult }}">Take a quiz on {{ most_difficult }}.</a>
	{% else %}
		You have not taken a quiz yet. Take one <a href="/quiz">here</a>.
	{% endif %}
</p>
{% endblock %}
