{% extends "layout.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block main %}
<h1>Privacy Policy</h1>
<strong>This document describes how we process and store your information.</strong>
<br>
<p>We do not collect or store any personal information as defined by <a href="https://www.priv.gc.ca/en/privacy-topics/privacy-laws-in-canada/the-personal-information-protection-and-electronic-documents-act-pipeda/pipeda_brief/">PIPEDA</a>.</p>
<p>
	However, we do collect other types of information both voluntarily provided by you or transmitted to us by your browser.<br>
	Examples of data your browser sends includes: your user-agent and your IP address.<br>
	Examples of data you voluntarily send includes: email and username when you register, and submissions.<br>
	We safeguard your data with industry-standard security practices, and will only analyze your data to investigate errors or abuse.<br>
	We will only use data you provide to ensure full functionality of this website, and also provide to law enforcement if required.<br>
	We do not track you across sites. We do not track you across pages on FBLAquiz. We do not track you at all.<br>
	We do not sell your data to advertisers. We do not sell your data to researchers. We do not sell your data to anyone at all.</p>
{% endblock %}
