{% extends "layout.html" %}

{% block title %}Submissions{% endblock %}

{% block main %}
<h1>Submissions</h1>
<div id="pagination"></div>
<div class="flex">
    <div style="flex: 3; overflow: auto;">
        <table class="table table-hover" style="min-width: 400px;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width: 20%;">ID</th>
                    <th scope="col" style="width: 40%;">Time</th>
                    <th scope="col" style="width: 20%;">Score</th>
                    <th scope="col" style="width: 20%;">View</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row["id"] }}</td>
                    <td class="dt">{{ row["date"] }}</td>
                    <td>{{ row["score"] }}</td>
                    <td><a href="/quiz/results?id={{ row['id'] }}">View</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="flex: 1; margin-left: 8px;" id="submission-search-right">
        <div class="card">
            <h3>Filter Submissions</h3>
            <form>
                <select class="form-control form-group" id="score" name="score">
                    <option value="" selected hidden>Filter by score</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <input class="btn btn-primary" type="submit" value="Filter!">
            </form>
        </div>
    </div>
</div>
<div id="submission-search-bottom">
    <div class="card">
        <h3>Filter Submissions</h3>
        <form>
            <select class="form-control form-group" id="correct" name="correct">
                <option value="" selected hidden>Filter by score</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <input class="btn btn-primary" type="submit" value="Filter!">
        </form>
    </div>
</div>
<script src="/assets/js/jquery.twbsPagination.min.js"></script>
<script>
    var page = new URL(window.location.href).searchParams.get("page");
    $(() => $('#pagination').twbsPagination({
        totalPages: {{ length }},
        visiblePages: 7,
        startPage: page ? parseInt(page) : 1,
        initiateStartPageClick: false,
        onPageClick: function (event, page) {
            insertParam(page);
        }
    }));

    function insertParam(value) {
        key = "page";

        // kvp looks like ['key1=value1', 'key2=value2', ...]
        var kvp = document.location.search.substr(1).split('&');
        let i = 0;

        for(; i < kvp.length; i++){
            if (kvp[i].startsWith('page=')) {
                let pair = kvp[i].split('=');
                pair[1] = value;
                kvp[i] = pair.join('=');
                break;
            }
        }

        if(i >= kvp.length){
            kvp[kvp.length] = ["page", value].join('=');
        }

        document.location.search = kvp.join('&');
    }
</script>
{% endblock %}
